<header class="flex justify-between p-3 border-b border-b-neutral-300 shadow items-center">
  <img class="object-cover w-[25px] aspect-square" src="https://picsum.photos/25" alt="Logo">
  <nav>
    <ul class="flex gap-3 items-center">
      <li>
        <a
          class="block p-1 text-white bg-indigo-500 hover:bg-indigo-600 transition-colors rounded"
          href="<%= root_url %>"
        >
          Home
        </a>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: 'delete' }, class: "block p-1 text-white bg-indigo-500 hover:bg-indigo-600 transition-colors rounded" %>
        </li>
        <li>
          <%= link_to "My Profile", profile_path, class: "block p-1 text-white bg-indigo-500 hover:bg-indigo-600 transition-colors rounded" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", new_user_session_path, class: "block p-1 text-white bg-indigo-500 hover:bg-indigo-600 transition-colors rounded" %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: "block p-1 text-white bg-indigo-500 hover:bg-indigo-600 transition-colors rounded" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>