<!DOCTYPE html>
%html{lang: "sr"}
  %head
    %title= content_for(:title) || "Blog App"
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    %link{href: "/manifest.json", rel: "manifest"}
    %link{href: "/icon.png", rel: "icon", type: "image/png"}
    %link{href: "/icon.svg", rel: "icon", type: "image/svg+xml"}
    %link{href: "/icon.png", rel: "apple-touch-icon"}

    // Fonts
    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true}
    %link{href: "https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap", rel: "stylesheet"}

    // Main styles
    = stylesheet_link_tag "application", "data-turbo-track": "reload"

    // JS
    = javascript_importmap_tags

  %body
    = render "layouts/header"
    %main
    = yield
